@font-face
{
    font-family: 'Amble-Regular';
    src: url("polices/Amble/Amble-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Kingthings_Regular';
    src: url("polices/Kingthings/Kingthings_Calligraphica_2.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Kingthings_Italic';
    src: url("polices/Kingthings/Kingthings_Calligraphica_Italic.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Kingthings_Light';
    src: url("polices/Kingthings/Kingthings_Calligraphica_Light.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Amble-BoldItalic';
    src: url("polices/Amble/Amble-BoldItalic.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Amble-Bold';
    src: url("polices/Amble/Amble-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Amble-Italic';
    src: url("polices/Amble/Amble-Italic.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'TypeMyMusic';
    src: url("polices/Music/TypeMyMusic.ttf");
    font-weight: normal;
    font-style: normal;
}

#bloc_page
{
	width:80%;
	margin:0 auto;
	background-color:white;
}

header
{
	border-bottom: 1px solid #5d5d5d;
	border-width:1px 0;
	align-items: baseline;
	display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header h1
{
	font-family:Kingthings_Light;
	margin: 0 0 0 10px;
}


#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul
{
	display: flex;
	list-style-type:none;
}

nav a
{
	margin-right:1em;
	position:relative;									
	font-size:2em;
	color:black;
	text-decoration:none;
	margin-bottom : 5px;
	transition: color 1s;
}

nav a::after 
{
	content: '';
	transform-origin: 0 0; 
	transform: scaleX(0);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: .1em; 
	background: #EF4646;
	z-index: 2;
	opacity: 0.8;
	transition: transform .7s;
}

nav a:hover
{
	color:#EF4646;
}

nav a:hover::after 
{
	transform: scaleX(1);
}

.page_actuelle
{
	color:#EF4646;
}

section h1, footer h1, nav a
{
	font-family: Amble-BoldItalic, serif;
}

@keyframes AutoSlide {
	0% {
		left: 0px; /*1ère image*/
	}
	15% {
		left: 0px; /*idem pour attente*/
	}
	35% {
		left: -485px; /*2ème image*/
	}
	50% {
		left: -485px; /*idem pour attente*/
	}
	70% {
		left: -970px; /*3ème image*/
	}
	85% {
		left: -970px; /*idem pour attente*/
	}
	100% {
		left: 0px; /*1ère image*/
	}
}

@keyframes AutoSlide {
	0%, 15%, 100% {
		left: 0px; /*1ère image*/
	}
	35%, 50% {
		left: -485px; /*2ème image*/
	}
	70%, 85% {
		left: -970px; /*3ème image*/
	}
}


#slideshow {
	position: relative;
	width: 480px;
	height: 270px;
	margin:  20px auto;
	overflow: hidden;
}
#sContent li {
	display: inline;
}

#sContent {
	position: absolute;
	top: 0;
	left: 0;
	width:1455px;
	margin: 0;            
	padding: 0;
	
	/*CSS3 keyframes animation*/
	animation-name: AutoSlide;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
 
body
{
	background:url('images/background.jpg')no-repeat 5%;
	font-family:Trebuchet MS,Arial;
	margin: 0;
}

#Bdd
{
	margin:30px 0;
	display:flex;
	justify-content:flex-end;
}

p
{
	margin:8px;
	text-align:justify;
	font-family:Amble-Regular,sans-serif;
}

section
{
	display:flex;
}

section h1
{
	font-size:1.5em;
}

article
{
	padding-left:10px;
	padding-bottom:10px;
	margin-right:50px;
	flex:3;
}

aside
{
	position: relative;
	color:white;
	flex:0.9;
	margin-bottom:10px;
	margin-right:10px;
}

#informations
{
	background-color:#EF4646;
	box-shadow: 0px 3px 5px #000000;
	border-radius:5px;
	padding:15px;
}

#informations h1
{
	margin-top:0px;
}

aside a
{
	text-decoration:none;
	color:white;
}

aside a:hover
{
	text-decoration:underline;
}

footer h1
{
	font-size:1.5em;
}

footer h2
{
	font-size:1.1em;
	margin-left: 9px;
}

#tweet
{
    width: 28%;
}

#mes_photos
{
    width: 35%;
}

#nous_suivre
{
    width: 31%;
}

#nous_suivre ul
{
	padding-left:2px;
	align-items:center;
}

footer ul
{
	display: flex;
	list-style-type:none;
}

footer a
{
	position:relative;	
	color:black;
	text-decoration:none;
	margin-bottom : 5px;
}

#listes_reseaux
{
    justify-content: space-between;
    margin-top: 0;
}

#listes_reseaux li
{
	margin-right : 2em;
}

.youtube
{
	background-color:#00FFF7;
	border-radius:10px;
}

.youtube:hover
{
	background-color:#FF0000;
}

.facebook
{
	background-color:#00FFF7;
	border-radius:5px;
}

.facebook:hover
{
	background-color:#27399E;
}

#footer_sitemap
{
	padding-left:15px;
	background-color:#EEEEEE;
	border: 1px solid #5d5d5d;
	border-width:1px 0;
	display:flex;
}

#footer_legals ul
{
	display:flex;
	position:relative;
	align-items:center;
}

#footer_legals li
{
	margin-right : 3em;
}

.spacer {
    -webkit-box-flex: 1;
    flex: 1 0 auto;
}

#mentions
{
	text-align:center;
	margin:0 auto;
}

#mentions p
{
	text-align:center;
}

#mentions h2
{
	font-family: 'Amble-Regular';
	font-size:3em;
}

#mentions h3
{
	font-size:1.5em;
}

#mentions a
{
	color: black;
	text-decoration:none;
}

table 	{
  border-collapse: collapse;
  width: 80%;
  margin-bottom:30px;
}

th 
{
  background-color: #EF4646;
  color: white;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

#cookies
{
	background-color: #EF4646;
	color:white;
    text-align: center;
    font-size: 1.2em;
    z-index:5;
	width:30%;
	position: fixed;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}

#cookies a
{
	color:white;
	text-decoration: none;
}